.slide {
	color: #d9853b;	/*white*/
	display: table;
	height: 680px;
	position: relative;
	width: 100%;
}
.slide h2 {
	display: table-cell;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}
#slide1 {
	background: url('../images/body_bg_1.jpg');
}
#slide2 {
	background: url('../images/slide2.jpg');
	background-size: cover !important;
	height: 380px;
	position: relative;
	z-index: 4;
}
#slide3 {
	background: url('../images/slide3.jpg');
	background-size: cover !important;
}
#slide4 {
	background: url('../images/slide4.jpg');
	background-size: cover !important;
}
.navigation {
	background: #558c89;	/*blue*/
	list-style: none;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	z-index: 5;
}
.navigation li {
	cursor: pointer;
	display: inline-block;
	padding: 0.8em;
}
.navigation li a {
	color: #ebebb9;	/*gray*/
	text-decoration: none;
}
.navigation li a:hover {
	color: #fff;	/*white*/
}
.link-active {
	background: #d9853b;	/*orange*/
	border-bottom: 1px solid #558c89;	/*blue*/
}

/*Easy effect*/
.heading-easy {
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
}
.heading-easy h1 {
	display: inline-block;
}
.letter {
	float:left;
	height: 196px;
	position: relative;
	width: 140px;
}
.dot {
	background-color: #558c89;	/*blue*/
	box-shadow: 0 0 20px #777;	/*white*/
	margin: 1px;
	position: absolute;
	z-index: 2;
}
.letter .small {
	border-radius: 4px;
	height: 8px;
	margin: 6px;
	width: 8px;
}
.letter .medium {
	border-radius: 6px;
	height: 12px;
	margin: 4px;
	width: 12px;
}
.letter .large {
	border-radius: 8px;
	height: 16px;
	margin: 2px;
	width: 16px;
}
.letter .larger {
	border-radius: 12px;
	height: 20px;
	width: 20px;
}

/* Letters */
/* A */
.a .dot1 {
  top: 156px;
  left: 7px;
}
.a .dot2 {
  top: 133px;
  left: 17px;
}
.a .dot3 {
  top: 111px;
  left: 26px;
}
.a .dot4 {
  top: 84px;
  left: 37px;
}
.a .dot5 {
  top: 55px;
  left: 49px;
}
.a .dot6 {
  top: 29px;
  left: 60px;
}
.a .dot7 {
  left: 75px;
  top: 50px;
}
.a .dot8 {
  left: 85px;
  top: 81px;
}
.a .dot9 {
  left: 95px;
  top: 110px;
}
.a .dot10 {
  left: 103px;
  top: 133px;
}
.a .dot11 {
  left: 110px;
  top: 155px;
}
.a .dot12 {
  top: 111px;
  left: 49px;
}
.a .dot13 {
  top: 110px;
  left: 71px;
}
/* E */
.e .dot1 {
top: 31px;
left: 25px;
}
.e .dot2 {
  top: 29px;
  left: 52px;
}
.e .dot3 {
  top: 30px;
  left: 80px;
}
.e .dot4 {
  top: 31px;
  left: 108px;
}
.e .dot5 {
  top: 58px;
  left: 24px;
}
.e .dot6 {
  top: 87px;
  left: 22px;
}
.e .dot7 {
  top: 89px;
  left: 50px;
}
.e .dot8 {
  top: 88px;
  left: 80px;
}
.e .dot9 {
  top: 88px;
  left: 104px;
}
.e .dot10 {
  top: 121px;
  left: 22px;
}
.e .dot11 {
  top: 153px;
  left: 22px;
}
.e .dot12 {
  top: 155px;
  left: 51px;
}
.e .dot13 {
  top: 154px;
  left: 80px;
}
.e .dot14 {
  top: 155px;
  left: 106px;
}
/* S */
.s .dot1 {
	left: 103px;
	top: 55px;
}
.s .dot2 {
	left: 89px;
	top: 33px;
}
.s .dot3 {
	left: 63px;
	top: 24px;
}
.s .dot4 {
	left: 40px;
	top: 29px;
}
.s .dot5 {
	left: 21px;
	top: 43px;
}
.s .dot6 {
	left: 20px;
	top: 70px;
}
.s .dot7 {
	left: 44px;
	top: 88px;
}
.s .dot8 {
	left: 70px;
	top: 94px;
}
.s .dot9 {
	left: 98px;
	top: 104px;
}
.s .dot10 {
	left: 108px;
	top: 125px;
}
.s .dot11 {
	left: 98px;
	top: 149px;
}
.s .dot12 {
	left: 73px;
	top: 160px;
}
.s .dot13 {
	left: 45px;
	top: 160px;
}
.s .dot14 {
	left: 23px;
	top: 149px;
}
.s .dot15 {
	left: 13px;
	top: 128px;
}
/* Y */
.y .dot1 {
	left: 10px;
	top: 29px;
}
.y .dot2 {
	left: 26px;
	top: 53px;
}
.y .dot3 {
	left: 39px;
	top: 75px;
}
.y .dot4 {
	left: 59px;
	top: 103px;
}
.y .dot5 {
	left: 79px;
	top: 77px;
}
.y .dot6 {
	left: 93px;
	top: 55px;
}
.y .dot7 {
	left: 107px;
	top: 30px;
}
.y .dot8 {
	left: 58px;
	top: 130px;
}
.y .dot9 {
	left: 59px;
	top: 158px;
}

/*tenis bat*/
.bat {
	float: left;
	height: 210px;
	position: relative;
	width: 135px;
}
.ball {
	float: left;
	position: relative;
}
.square {
	background-color: #558c89;	/*blue*/
	box-shadow: 0 0 20px #777;	/*white*/
	margin: 1px;
	position: absolute;
	z-index: 2;
}
.bat .small,
.ball .small {
	height: 8px;
	margin: 6px;
	width: 8px;
}
.bat .medium,
.ball .medium {
	height: 12px;
	margin: 4px;
	width: 12px;
}
.bat .large {
	height: 16px;
	margin: 2px;
	width: 16px;
}
.bat .larger {
	height: 20px;
	width: 20px;
}
.bat .square1 {
	left: 103px;
	top: 55px;
}
.bat .square2 {
	left: 89px;
	top: 33px;
}
.bat .square3 {
	left: 63px;
	top: 24px;
}
.bat .square4 {
	left: 40px;
	top: 29px;
}
.bat .square5 {
	left: 21px;
	top: 43px;
}
.bat .square6 {
	left: 14px;
	top: 70px;
}
.bat .square7 {
	left: 24px;
	top: 92px;
}
.bat .square8 {
	left: 40px;
	top: 107px;
}
.bat .square9 {
	left: 105px;
	top: 79px;
}
.bat .square10 {
	left: 78px;
	top: 110px;
}
.bat .square11 {
	left: 96px;
	top: 98px;
}
.bat .square12 {
	left: 59px;
	top: 160px;
}
.bat .square13 {
	left: 59px;
	top: 139px;
}
.bat .square14 {
	left: 59px;
	top: 119px;
}
.bat .square15 {
	left: 59px;
	top: 179px;
}
.ball .square1 {
	left: 134px;
	top: 56px;
}
.ball .square2 {
	left: 134px;
	top: 35px;
}
.ball .square3 {
	left: 115px;
	top: 29px;
}
.ball .square4 {
	left: 96px;
	top: 35px;
}
.ball .square5 {
	left: 96px;
	top: 57px;
}
.ball .square6 {
	left: 115px;
	top: 63px;
}
