html, body {
	background: #eee;
	font-family: helvetica;
	font-size: 14px;
	margin: 0 auto;
	padding: 0;
	width: 1200px;
}
html {
	background: #ede;
}
body {
	background: #777;
	height: 100vh;
}
.master-panel {
	background: #dedede;
	box-shadow: 1px 0 5px #333;
	margin: 0 auto;
	padding: 3.2em;
	width: 75%;
}
