<!DOCTYPE html>
<html>
<head>
	<title>Basic Parallax using Stellar</title>
	<link rel="stylesheet" type="text/css" href="../stylesheet/base.css">
	<link rel="stylesheet" type="text/css" href="../stylesheet/advance.css">
	<script type="text/javascript" src="../../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../../bower_components/jquery.stellar/jquery.stellar.min.js"></script>
	<script type="text/javascript" src="../../bower_components/jquery.easing/js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="../scripts/script.js"></script>
</head>
<body>
	<nav>
		<ul class="navigation">
			<li scroll-to="slide1" class="link-active"><a href="#">Slide 1</a></li>
			<li scroll-to="slide2"><a href="#">Slide 2</a></li>
			<li scroll-to="slide3"><a href="#">Slide 3</a></li>
			<li scroll-to="slide4"><a href="#">Slide 4</a></li>
		</ul>
	</nav>
	<div id="slide1" class="slide">
		<div class="heading-easy">
			<h1 data-stellar-offset-parent="true">
				<div class="letter e">
					<div class="dot dot1 large" data-stellar-ratio="1.67"></div>
					<div class="dot dot2 medium" data-stellar-ratio="2.67"></div>
					<div class="dot dot3 medium" data-stellar-ratio="2.67"></div>
					<div class="dot dot4 large" data-stellar-ratio="0.67"></div>
					<div class="dot dot5 small" data-stellar-ratio="0.75"></div>
					<div class="dot dot6 larger" data-stellar-ratio="0.9"></div>
					<div class="dot dot7 small" data-stellar-ratio="1.7"></div>
					<div class="dot dot8 medium" data-stellar-ratio="2.44"></div>
					<div class="dot dot9 large" data-stellar-ratio="0.67"></div>
					<div class="dot dot10 medium" data-stellar-ratio="1.2"></div>
					<div class="dot dot11 larger" data-stellar-ratio="1.28"></div>
					<div class="dot dot12 small" data-stellar-ratio="2.45"></div>
					<div class="dot dot13 small" data-stellar-ratio="2"></div>
					<div class="dot dot14 large" data-stellar-ratio="1.3"></div>
				</div>
				<div class="letter a">
					<div class="dot dot1 large" data-stellar-ratio="1.4"></div>
					<div class="dot dot2 small" data-stellar-ratio="1.67"></div>
					<div class="dot dot3 larger" data-stellar-ratio="2.8"></div>
					<div class="dot dot4 medium" data-stellar-ratio="1.88"></div>
					<div class="dot dot5 small" data-stellar-ratio="0.75"></div>
					<div class="dot dot6 large" data-stellar-ratio="1.25"></div>
					<div class="dot dot7 small" data-stellar-ratio="0.67"></div>
					<div class="dot dot8 large" data-stellar-ratio="0.85"></div>
					<div class="dot dot9 larger" data-stellar-ratio="0.89"></div>
					<div class="dot dot10 small" data-stellar-ratio="2.77"></div>
					<div class="dot dot11 larger" data-stellar-ratio="1.14"></div>
					<div class="dot dot12 small" data-stellar-ratio="2"></div>
					<div class="dot dot13 medium" data-stellar-ratio="0.33"></div>
				</div>
				<div class="letter s">
					<div class="dot dot1 medium" data-stellar-ratio="2.5"></div>
					<div class="dot dot2 large" data-stellar-ratio="0.87"></div>
					<div class="dot dot3 small" data-stellar-ratio="1.5"></div>
					<div class="dot dot4 small" data-stellar-ratio="2.28"></div>
					<div class="dot dot5 larger" data-stellar-ratio="2.14"></div>
					<div class="dot dot6 small" data-stellar-ratio="2"></div>
					<div class="dot dot7 larger" data-stellar-ratio="1.66"></div>
					<div class="dot dot8 large" data-stellar-ratio="0.8"></div>
					<div class="dot dot9 small" data-stellar-ratio="1.4"></div>
					<div class="dot dot10 larger" data-stellar-ratio="1.5"></div>
					<div class="dot dot11 larger" data-stellar-ratio="1.6"></div>
					<div class="dot dot12 small" data-stellar-ratio="2.9"></div>
					<div class="dot dot13 small" data-stellar-ratio="2.7"></div>
					<div class="dot dot14 larger" data-stellar-ratio="1.76"></div>
					<div class="dot dot15 larger" data-stellar-ratio="2.1"></div>
				</div>
				<div class="letter y">
					<div class="dot dot1 medium" data-stellar-ratio="3"></div>
					<div class="dot dot2 large" data-stellar-ratio="0.5"></div>
					<div class="dot dot3 large" data-stellar-ratio="2.2"></div>
					<div class="dot dot4 small" data-stellar-ratio="1.33"></div>
					<div class="dot dot5 medium" data-stellar-ratio="2.57"></div>
					<div class="dot dot6 medium" data-stellar-ratio="2.2"></div>
					<div class="dot dot7 medium" data-stellar-ratio="1.67"></div>
					<div class="dot dot8 medium" data-stellar-ratio="0.35"></div>
					<div class="dot dot9 larger" data-stellar-ratio="1.5"></div>
				</div>
			</h1>
		</div>
	</div>
	<div id="slide2" class="slide" data-stellar-background-ratio="0.4">
	</div>
	<div id="slide3" class="slide" data-stellar-background-ratio="0.6">
		<div class="heading-easy">
			<h1 data-stellar-offset-parent="true">
				<div class="bat">
					<div class="square square1 medium" data-stellar-ratio="1.4"></div>
					<div class="square square2 medium" data-stellar-ratio="0.4"></div>
					<div class="square square3 medium" data-stellar-ratio="2.4"></div>
					<div class="square square4 medium" data-stellar-ratio="1.4"></div>
					<div class="square square5 medium" data-stellar-ratio="1.5"></div>
					<div class="square square6 medium" data-stellar-ratio="1.6"></div>
					<div class="square square7 medium" data-stellar-ratio="1.2"></div>
					<div class="square square8 small" data-stellar-ratio="0.7"></div>
					<div class="square square9 medium" data-stellar-ratio="2.4"></div>
					<div class="square square10 small" data-stellar-ratio="1.25"></div>
					<div class="square square11 medium" data-stellar-ratio="0.9"></div>
					<div class="square square12 medium" data-stellar-ratio="1"></div>
					<div class="square square13 medium" data-stellar-ratio="1.8"></div>
					<div class="square square14 medium" data-stellar-ratio="2.02"></div>
					<div class="square square15 medium" data-stellar-ratio="1.47"></div>
				</div>
				<div class="ball">
					<div class="square square1 medium" data-stellar-ratio="1.49"></div>
					<div class="square square2 medium" data-stellar-ratio="0.59"></div>
					<div class="square square3 medium" data-stellar-ratio="1.67"></div>
					<div class="square square4 medium" data-stellar-ratio="2.3"></div>
					<div class="square square5 medium" data-stellar-ratio="1.73"></div>
					<div class="square square6 medium" data-stellar-ratio="1.59"></div>				
				</div>
			</h1>
		</div>
	</div>
	<div id="slide4" class="slide" data-stellar-background-ratio="0.5">
	</div>
</body>
</html>
